<footer id="footer-info"> 
    <div class="f-info"> 
        <div class="f-info-socials">
           <a href="https://www.facebook.com/profile.php?id=100047295261485"><i class="fa-brands fa-facebook"></i></a>
           <a href="https://www.instagram.com/rajkumarpra341/"><i class="fa-brands fa-instagram"></i></a>
           <a href="https://www.linkedin.com/in/rajkumar-prajapati-9a8141294/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Airbnb Private Limited</div>
        <div class="f-info-links"> 
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <a>Made By Rajkumar Prajapati</a>
    </div>
</footer>
